In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('DataSet_Emails.csv')

In [4]:
print(df.head())

   Unnamed: 0  message_id                                               text  \
0           0       33214  any software just for 15 $ - 99 $ understandin...
1           1       11929  perspective on ferc regulatory action client c...
2           2       19784  wanted to try ci 4 lis but thought it was way ...
3           3        2209  enron / hpl actuals for december 11 , 2000 tec...
4           4       15880  looking for cheap high - quality software ? ro...

   label label_text                                            subject  \
0      1       spam                  any software just for 15 $ - 99 $
1      0        ham  perspective on ferc regulatory action client c...
2      1       spam  wanted to try ci 4 lis but thought it was way ...
3      0        ham         enron / hpl actuals for december 11 , 2000
4      1       spam  looking for cheap high - quality software ? ro...

                                             message        date
0  understanding oem software\nlead me not into t...  2005-06-18
1  19 th , 2 : 00 pm edt\nperspective on ferc reg...  2001-06-19
2  viagra at $ 1 . 12 per dose\nready to boost yo...  2004-09-11
3  teco tap 30 . 000 / enron ; 120 . 000 / hpl ga...  2000-12-12
4  water past also , burn , course . gave country...  2005-02-13

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31716 entries, 0 to 31715
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  31716 non-null  int64
 1   message_id  31716 non-null  int64
 2   text        31665 non-null  object
 3   label       31716 non-null  int64
 4   label_text  31716 non-null  object
 5   subject     31442 non-null  object
 6   message     31371 non-null  object
 7   date        31716 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.9+ MB
None

In [6]:
print(df.isnull().sum())

Unnamed: 0      0
message_id      0
text           51
label           0
label_text      0
subject       274
message       345
date            0
dtype: int64